// Importo Vars cosi ho accesso alle variabili

@import './vars.scss';

// GENREAL

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: $main-font;
    color: #65d36c;
    background-image: linear-gradient(
        to bottom,
        #2e3a46 0px,
        #2e3a46 70px,
        #1d2d3c 70px,
        #1d2d3c 100%
    );
    background-size: 70px 100%;
}
