// Importo Vars cosi ho accesso alle variabili

@import './vars.scss';

// GENEREAL

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: $main-font;
    color: #fff;
    background-image: linear-gradient(
        to bottom,
        #2e3a46 0px,
        #2e3a46 70px,
        #1d2d3c 70px,
        #1d2d3c 100vh
    );
    background-size: 70px 100%;
}

// UTILITIES

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}
